:root{
  --color: #fff;
  --link: url('./cat.jpg');
  --input-size: 5vh;
  --s: 2;
  --size: calc(var(--s) * 1vh);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  --size: calc(var(--s) * 1vh);
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1b1b1b;
}
.glass{
  --size: calc(var(--s) * 1vh);
  width: var(--size);height: var(--size);
  background-color: var(--color);
  mix-blend-mode: color;
}
.photo{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  background: var(--link) center fixed no-repeat;
  background-size: cover;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
}
.input{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 5000;
}
.input__blend-wrapper{
  position: fixed;
  z-index: 50000;
  color: #000;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  *{
    font-size: calc(var(--input-size) * 0.8);
    line-height: var(--input-size);
    width: calc(var(--input-size) * 2);
    height: calc(var(--input-size));
  }
  .input-link{
    width: calc(var(--input-size) * 4);
  }
}